---
- name: vorta role
  tags:
    - vorta
  block:

  - name: Check vars for vorta role
    ansible.builtin.assert:
      that:
      - vorta_user != None
      - vorta_config_borg_pw != None
      
  # flatpak
  - when: vorta_flatpak_state != None
    name: Flatpak state {{ vorta_flatpak_state }}
    become: true
    community.general.flatpak:
      name: com.borgbase.Vorta
      method: "{{ vorta_flatpak_scope }}" 
      state: "{{ vorta_flatpak_state }}"

  # mkdir overrides
  - name: Mkdir /home/{{ vorta_user }}/.local/share/flatpak/overrides
    become: true
    ansible.builtin.file:
      state: directory
      mode: u=rwx,g=,o=rx
      owner: "{{ vorta_user }}"
      group: "{{ vorta_user }}"
      path: "/home/{{ vorta_user }}/.local/share/flatpak/overrides"

  # copy flatpak override
  - when: vorta_flatpak_override != None
    name: Copy {{ vorta_flatpak_override }} -> /home/{{ vorta_user }}/.local/share/flatpak/overrides/com.borgbase.Vorta
    become: true
    ansible.builtin.copy:
      src: "{{ vorta_flatpak_override }}"
      dest: "/home/{{ vorta_user }}/.local/share/flatpak/overrides/com.borgbase.Vorta"
      owner: "{{ vorta_user }}"
      group: "{{ vorta_user }}"
      mode: u=rw,g=,o=r # world readable

  # apt
  - when: vorta_apt_state != None
    name: Apt state {{ vorta_apt_state }}
    become: true
    ansible.builtin.apt:
      name: vorta
      state: "{{ vorta_apt_state }}"
      
  # template config
  - when: vorta_config_init == true
    name: Template config {{ vorta_config }}
    become: true
    ansible.builtin.template:
      src: "{{ vorta_config }}"
      dest: "/home/{{ vorta_user }}/.vorta-init.json"
      owner: "{{ vorta_user }}"
      group: "{{ vorta_user }}"

  # copy ssh keys
  - block:
    
    # cp priv key
    - name: Copy private ssh key
      become: true
      ansible.builtin.copy:
        src: "{{ vorta_nas_borg_ssh_private_key_file }}"
        dest: "/home/{{ vorta_user }}/.ssh/{{ vorta_nas_borg_ssh_private_key_file }}"
        owner: "{{ vorta_user }}"
        group: "{{ vorta_user }}"
        mode: u=rw,g=,o=